<!-- Used by all builtin themes. Now we list number of   and projects. -->

{% assign essay_pages = site.pages | where: "type", "essay" | where_exp: "page", "page.draft != true" %} {% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %} {% assign num_ = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable">
    <nav class="ui stackable menu">
        <a href="{{ site.baseurl}}/" class="brand item">
            <img class="ui avatar image" src="{{ site.data.bio.basics.picture }}"><span>{{ site.data.bio.basics.name }}</span>
        </a>
        {% if num_projects > 0 %}
        <a href="{{ site.baseurl }}/projects" class=" {% if include.active == " projects " %} active {% endif %}item">Projetos ({{ num_projects }})</a> {% endif %} {% if num_ > 0 %}
        <a href="{{ site.baseurl }}/ " class=" {% if include.active == " " %} active {% endif %} item">  ({{ num_  }})</a> {% endif %}
        <a href="{{ site.baseurl }}/bio" class=" {% if include.active == " bio " %} active {% endif %} item">{{ site.bio-page-label }}</a>
    </nav>
</div>